$brand-primary: #d44309;
$brand-secondary: rgba(235, 160, 15, 0.85);
$dark-gray: rgba(72, 73, 84, 1);

html {
  font-family: sans-serif;
  font-variant: small-caps;
}

body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}


.login-create-account.container {
  margin-top: 80px;
}


.centered {
  text-align: center;
}

.validation-error {
  color: red;
  margin-top: 3px;
  margin-left: 3px;
}

.form-field {
  margin-bottom: 10px;
}

.server-error-message {
  background-color: $dark-gray;
  padding: 5px 10px;
  margin: 10px 10px;
  border-radius: 3px;
  color: white;
  text-align: center;

  font-variant: normal;
  font-size: 12pt;
  // font-family: serif
  font-weight: medium;
}

input[type=text],
input[type=number],
input[type=date],
input[type=password]{
  font-size: 13pt;
  &:focus{
    // This stops ios from zooming in when an input is focused
    font-size: 16pt;
  }
}

input[type=submit]{
  &:focus{
    background-color: $brand-primary;
    border-color: $brand-primary;
  }
}

input[type=date],
input[type=submit] {
  // Without this all of the input "buttons" look like pills.
  -webkit-appearance: none;
}

input[type=checkbox] {
  // -webkit-appearance: none;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 0.2em;
  margin-left: 0.5em;
}

input[type=date] {
  border-radius: 5px;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 0.6rem 1.0rem;
  box-shadow: none;
  width: 100%;
  height: 3.8rem;
  line-height: 3.8rem;

  border-top-color: rgb(209, 209, 209);
  border-top-style: solid;
  border-top-width: 0.1rem;
  border-right-color: rgb(209, 209, 209);
  border-right-style: solid;
  border-right-width: 0.1rem;
  border-bottom-color: rgb(209, 209, 209);
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
  border-left-color: rgb(209, 209, 209);
  border-left-style: solid;
  border-left-width: 0.1rem;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial; 
}


